<div id="box-header-wrapper">
    <button ng-click="vm.clearButtonClicked()" id="dc-clear">Clear</button>
    <dc-logo>
    </dc-logo>
</div>
<dc-label>Shorten your URLs!</dc-label>
<div id="box-main-wrapper">
    <input id="dc-input" ng-model="vm.input_url">
    </input>
    <button id="dc-submit" ng-click="vm.submit()">Submit
    </button>
</div>
<dc-answer-and-copy-wrapper ng-if="vm.answer_exsists==true">
    <dc-answer-box>
        <dc-caption>Short URL:</dc-caption>
        <dc-answer-content>
            <dc-answer>{{vm.response}}</dc-answer>
        </dc-answer-content>
    </dc-answer-box>
    <button id="dc-copy">Copy</button>
</dc-answer-and-copy-wrapper>
