<div class="col-xs-12 col-sm-12">
    <div id="signup-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-circle" id="img-logo-signup" src="http://imageshack.com/a/img924/8751/yvVB2y.png" style="padding: 10px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.switch.smeni_toggle = !vm.switch.smeni_toggle">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>

                </div>

                <div id="div-forms2">

                    <form id="register-form">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Username" ng-model="vm.username" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" ng-model="vm.password" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" id="register_button" ng-click="vm.signup()">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
