      <!--<div class="col-xs-12 col-sm-12">-->
            <div id="login-modal" >
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                            <img class="img-circle" id="img_logo" src="http://imageshack.com/a/img924/8751/yvVB2y.png" style="padding: 10px">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.switch.lmeni_toggle = !vm.switch.lmeni_toggle">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        </div>

                        <!-- Begin # DIV Form -->

                        <div id="div-forms">

                            <!-- Begin # Login Form -->
                            <form id="login-form" ng-if="vm.lgn_switch">
                                <div class="modal-body">
                                    <div id="div-register-msg">
                                        <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                        <span id="text-register-msg">Type your e-mail and password</span>
                                    </div>

                                    <input id="login_username" class="form-control" type="email" placeholder="Username" ng-model="vm.username" ng-pattern="vm.re" required>
                                    <input id="login_password" class="form-control" type="password" placeholder="Password" ng-model="vm.password" required>

                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="login_button" ng-click="vm.lgn()">Login</button>
                                    </div>
                                    <div>
                                        <button id="login_lost_btn" type="button" class="btn btn-link" ng-click="vm.fgt_switch =!vm.fgt_switch; vm.lgn_switch = false">Lost Password?</button>
                                    </div>
                                </div>
                            </form>
                            <!-- End # Login Form -->

                            <!-- Begin | Lost Password Form -->
                            <form id="lost-form" ng-if="vm.fgt_switch">
                                <div class="modal-body">
                                    <div id="div-lost-msg">
                                        <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                        <span id="text-lost-msg">Type your e-mail.</span>
                                    </div>
                                    <input id="lost_email" class="form-control" type="email" placeholder="E-Mail" ng-model="vm.username" required>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="lost_pass_btn" ng-click="vm.fgt_pass()">Send</button>
                                    </div>
                                    <div>
                                        <button id="lost_login_btn" type="button" class="btn btn-link" ng-click="vm.lgn_switch= true; vm.fgt_switch= false">Log In</button>
                                    </div>
                                </div>
                            </form>
                            <!-- End | Lost Password Form -->
                        </div>
                        <!-- End # DIV Form -->
                        <!-- End | Lost Password Form -->
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>
</div>


