<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 " style=" padding-left: 35px; padding-right: 35px;">
                <div class="intro-message animate-enter">
                    <h1>Share with ease</h1>

                    <hr class="intro-divider">
                    <div class="enter_urlg">
                        <form name="form_url">
                            <div class="input-group enter_url" ng-if="vm.copy===false">

                                <input type="text" name="url" id="enter_url"  placeholder="Enter your URL" ng-model="vm.longUrl" ng-pattern="vm.regexlu" select-shorty/>
                                <input type="submit" id="btn_sub" value="Submit" ng-click="vm.get_short(); vm.hswitch = true" />


                            </div>
                        </form>

                    </div>



                            <div class="input-group enter_url" ng-if="vm.copy">
                                <input type="text" id="enter_url"  placeholder="Enter your URL" ng-model="vm.longUrl"  select-shorty/>
                                <input type="submit" id="btn-cpy" value="Copy" ng-click="vm.copy_btn(); vm.hswitch = true" />
                            <div id="close_url" ng-click="vm.cancel_btn()" style="font-size: 15px ; color: grey">&#10005</div>
                            </div>


                    </div>


                <div class="row row-papa" style="margin-left: 0px; margin-right: 0px;">

                            <div class="exp_d"  ng-if="vm.options" >
                                        <div class="hidden-xs hidden-sm  col-md-12  col-lg-5">
                                            <h4 style="color: #00aeef;">Expiring days <img src="arrow.png" width="20px"; height="20px"> </h4>
                                        </div>
                                            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg ">
                                                <h4><span style="color: #00aeef;">Expiring days </span></h4>
                                                <img src="downarrow.png" width="20px"; height="20px">
                                            </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-7">
                                            <div class="radio"  style="font-size: 16px; font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;">
                                                <label><input type="radio"  value="1" name="optradio" ng-model="vm.exp_days">  1 day </label>
                                                <label><input type="radio" value="7" name="optradio" ng-model="vm.exp_days" >  7 days </label>
                                                <label><input type="radio"  value="30" name="optradio" ng-model="vm.exp_days">  30 days </label>
                                                <label><input type="radio"  value="0"  name="optradio" ng-model="vm.exp_days" checked> Never </label>
                                            </div>
                                        </div>
                                    </div>



                                <!--<div class="cust" ng-if="vm.options" >-->

                                    <!--<div class="hidden-xs hidden-sm col-md-12 col-lg-5">-->
                                        <!--<h4 style="color: #00aeef">Custom alias <img src="arrow.png" width="20px"; height="20px"></h4>-->
                                        <!--</div>-->

                                    <!--<div class="col-xs-12 col-sm-12 hidden-md hidden-lg">-->
                                        <!--<h4 style="color: #00aeef"><span>Custom alias</span></h4>-->
                                        <!--<img src="downarrow.png" width="20px"; height="20px">-->
                                    <!--</div>-->


                                        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" style="padding-top: 2px">-->
                                            <!--<div class="input-group" style="color: #2d2d2d;">-->

                                                <!--<span class="input-group-addon" id="basic-addon3"><em>https://min.bz</em></span>-->
                                                <!--<input type="text" class="form-control" id="basic-url" ng-model="vm.custom_ali"  placeholder="" maxlength="7">-->

                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" style="padding: 40px;">
            <!--<div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 col-lg-8 col-lg-offset-1 ">-->
                <div class="table-responsive table-history"  ng-if="vm.hswitch === true">

                    <table class="table table-responsive" id="history">
                        <thead class="colmns">
                        <tr>
                            <th class="td-width" style="word-wrap: break-word;">Long URL </th>
                            <th class="td-width">Short URL</th>
                            <th class="td-width">Expiring date</th>
                            <th class="td-width" ng-click="vm.delete()">Delete All</th>
                        </tr>
                        </thead>
                        <tbody id="preview">
                        <tr ng-repeat="i in vm.hstory">
                            <td> {{i.Long}} </td>
                            <td> {{i.Short}}</td>
                            <td>{{i.datum | date}}</td>
                            <td ng-click="vm.delete_one(vm.hstory, $index)" select-history >&#10005</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
