<div class="header">
    <!--<p ng-click="vm.dodaj()">ovo je novi temp: {{vm.moc_name}}</p>-->
    <div class="login-group" ng-if="vm.logged_user.storrage.islogged === undefined">
        <div class="login">
            <img src="http://imagizer.imageshack.us/a/img924/4056/JVbmZb.png" width="18" style="padding-top: 8px">
            <span id="lgin" ng-click="vm.switch.lmeni_toggle = !vm.switch.lmeni_toggle">LOG IN</span>
        </div>
        <div class="sign-up" >
            <img src="http://imagizer.imageshack.us/a/img922/9650/9GNgTJ.png" width="9" style=" padding-top: 9px">
            <span id="sgnup" ng-click="vm.switch.smeni_toggle = !vm.switch.smeni_toggle">SIGN UP </span>
        </div>
        <div class="log-google">
            <img src="http://imagizer.imageshack.us/a/img924/193/vswR8m.png" width="18" style=" padding-top: 8px">
            <span id="lggogl" >ENGLISH▼</span>
        </div>
    </div >
    <div class="logout-group" ng-click="vm.logged_user.logout()" ng-if="vm.logged_user.storrage.islogged" style="cursor: pointer">
        <div class="logout" >
            <div class="lgo-btn">
                <img src="http://imageshack.com/a/img924/239/e6hfau.png" width="18px" style="float: right; margin-top: -2px" >
                <div id= "lgo" ng-click="vm.logged_user.logout_base();vm.logged_user.logout()">LOGOUT </div>
            </div>
            <img src="http://imagizer.imageshack.us/a/img923/8194/LSGxUT.png" width="30px" style="float: right; padding-right: 15px">
            <div id ="logout" >Welcome, {{vm.logged_user.storrage.username}}</div>

        </div>

    </div>
    <div class="logo">
    <img src="https://imagizer.imageshack.us/v2/741x294q90/924/yvVB2y.png" width="100">
        <div style="float: right; padding-top: 11px;">
        <span style="font-family: 'Roboto';font-size: small; margin-left: -2px">URL shortener</span>
        </div>
    </div>

</div>
<signup ng-if="vm.switch.smeni_toggle"></signup>
<login ng-if="vm.switch.lmeni_toggle"></login>
<div class="overlay" ng-if="vm.switch.smeni_toggle "ng-click="vm.switch.smeni_toggle = !vm.switch.smeni_toggle" style=" -webkit-transition: fadein 1s;
    -moz-transition: fadein 1s;
    -o-transition: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s"></div>
<div class="overlay" ng-if="vm.switch.lmeni_toggle "ng-click="vm.switch.lmeni_toggle = !vm.switch.lmeni_toggle" style=" -webkit-transition: fadein 1s;
    -moz-transition: fadein 1s;
    -o-transition: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s"></div>