
demo-shorty {

  .main-div {

    height:468px;
    width:585px;
    //background: rgba(255,255,255,0.5);
    //margin: 100px auto;
    //margin-top: 150px;
    //margin-left: 600px;
    border-radius: 5px;
    //border: 1px solid red;
    position: absolute;
    left:35%;
    top: 25%;


  }

}

.header {

    //margin-top: 0px !important;
    //margin-bottom: 0;
    background: rgba(255,255,255,0.6);
    //background: blue;
    //padding: 10px;
    text-align: left;
    //position: relative;
    //float: left;
    width: 100%;
    height: 35px;
    left: 0;
    right: 0;
  }

.login-group{
    height: 34px;
    width: 350px;
    float: right;
    //position: relative;
    text-align: center;
  //border: 1px solid red;

}

.login{
  //border: 1px solid red;
    float: right;
    //position: relative;
    width: 80px;
    height: 32px;
    //padding: 10px;
    display:table;
    margin-left: 5px;
  }

#lgin{
  //background-color: #00aeef;
  color: #2e2e2e;
  font-family: "Roboto";
  font-size: small;
  display:table-cell;
  vertical-align:middle;
  //border-radius: 2px ;
  cursor: pointer;
  //border: 1px solid red;
  text-align: left;
  //padding-left: 5px;
}

.login:hover{
  text-decoration: underline;
}

.sign-up{
    float: right;
    //position: relative;
    //margin-right: 15px;
    //padding-top: 10px;
    //padding-left: 5px;
    width: 73px;
    height: 32px;
  //border: 1px solid red;
  display:table;
  margin-left: 15px;

  }

#sgnup{

  color: #2e2e2e;
  font-family: "Roboto";
  font-size: small;
  display:table-cell;
  vertical-align:middle;
  //border-radius: 2px ;
  cursor: pointer;
  //border-right: solid 1px;


}

.sign-up:hover{
  text-decoration: underline;
}

.log-google{
    float: right;
    //position: relative;
    //margin-right: 15px;
  width: 90px;
  height: 32px;
  //padding-top: 10px;
  //padding-bottom: 10px;
  //border: solid 1px red;
  display: table;

  }

#lggogl{
  //background-color: slategrey;
  color: #2e2e2e;
  font-size: small;
  font-family: Roboto;
  display:table-cell;
  vertical-align:middle;
  //border-radius: 2px ;
  //border: solid red 1px;

}

.log-google:hover{
  text-decoration: underline;
}

.background{
  background-image: url(http://imageshack.com/a/img921/7432/335XsL.jpg) ;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  //color: #f8f8f8;
  background-size: cover;
  background-repeat: no-repeat;
  //position: absolute;
  min-height: 100%;
  //margin-top: -100px;
  //border: solid 1px red;
  margin: 0px;
}


.content{
  height:200px;
  width:100%;
  background-color: white;
}
.intro{
  position: relative;
  padding-top: 2.5%;
  padding-bottom: 0px;
  margin: 0;
  font-size: 3.5em;
  color: #00aeef;
  font-weight: bolder;
  font-family: "Roboto";
  background: rgba(255,255,255,0.5);
  z-index: -1;

}

#divider{
  //width: 493 px;
  height: 17px;
  background: rgba(255,255,255,0.5);
  margin: 0px;
  border: rgba(255,255,255,0.5);
}

input[type="button"] {
  margin-left: -68px;
  height: 52px;
  width: 68px;
  background-color: gray;
  color: white;
  border: 0;
  font-family: Roboto;
  cursor: pointer;
}

input[type="button"]:hover{
  border: 1px solid whitesmoke;
}

#input_url{
  height: 30px;
  width: 493px;
  color: black;
  border: none;
  //font-size: 15px;
  border: 1px solid gray;
  padding: 10px;
}
.cancel{
  border: solid red 1px;
  height: 50px;
  width: 40px;
  margin-top: -52px;
  margin-left: 441px;
  //z-index: 1;
  line-height: 55px;
  cursor: pointer;
}

.input_group{
  padding-top: 35px;
  //border: solid red 1px;
  padding-bottom: 45px;
  background: rgba(255,255,255,0.5);
}

.expire{
  //border: solid 1px red;
  height:  80px;
  width: 50.4%;
  float: right;
  //margin-left: 1px;
  background: rgba(255,255,255,0.5);
  border-bottom-left-radius: 2px;
}

.custom_alias{
  //border: solid 1px red;
  height:  80px;
  width: 49.6%;
  float: right;
  background: rgba(255,255,255,0.5);
  border-bottom-right-radius-radius: 2px;
}

#divider_two{
  width: 800px;
  border-bottom-width: 1px;
  height: 1px;
  //padding-top: px;
  background-color: gray;
  //padding-top: 30px;
}

.step_group{
  padding-top: 30px;
}

.imgholder{
  width:585px;
  height: 30px;
  z-index: 20;
  background: rgba(255,255,255,0.5);
  //border: solid 1px red;
}

.logo{
  width: 184px;
}

.links{
  width: 150px;
  //position: relative;
  float: right;
  height: 63px;
  color: black;
  font-family: Roboto;
}

#pic{
  padding-right: 520px;
}

.sgn-body{
  border: gray;
  position: absolute;
  top :70px;
  right:70px;
  z-index: 11;
  background: rgba(255,255,255,0.9);
  height: 400px ;
  width: 300px;
  -webkit-transition: fadein 1s;
  -moz-transition: fadein 1s;
  -o-transition: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s
}

.logoplaceholder{
  width: 300px;
  height: 100px;
  //border: solid 1px red;
}
.sgn-form-group{
  width: 300px;
  height: 200px;
}

#wc{
  width: 300px;
  height: 35px;
  //border: solid 1px red;
  color: #00aeef;
  font-family: "Roboto Condensed";
  //margin-top: 20px;
  font-size: x-large;
}

.su-group{
  display: inline-block;
  height: 50px;
  margin-top: 10px;
  //border: 1px solid red;
}

.signu-group{
  display: inline-block;
  height: 50px;
  margin-top: 25px;
  //border: 1px solid red;
}

#sgn-form-username {
    height: 15px;
    width: 200px;
    color: black;
    border: none;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
    padding: 10px;
  margin-top: 25px;
  }

#sgn-form-password{
  height: 15px;
  width: 200px;
  color: black;
  border: none;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
}
#sgn-form-repete{
  height: 15px;
  width: 200px;
  color: black;
  border: none;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
  margin-right: 4px;

}

#rmb{
  font-family: "Roboto Condensed";
  color: #00aeef;
  margin-top: 10px;
}

.sign-up-sgn{
  background-color: coral;
  color: white;
  font-family: Roboto;
  padding: 12px;
  width: 70px;
  border-radius: 2px ;
  margin-top:10px ;
  display: inline-block;
}

.sign-up-sgn:hover{
  background-color: #ff9a42;
}

.lgn-body{
  position: absolute;
  top :70px;
  right:70px;
  z-index: 11;
  background: rgba(255,255,255,0.9);
  height: 350px ;
  width: 300px;
  -webkit-transition: fadein 1s;
  -moz-transition: fadein 1s;
  -o-transition: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s
}

.lgn-form-group{
  width: 300px;
  height: 150px;
  display: table;
}

.lu-group{
  display: inline-block;
  height: 50px;
  //border: solid 1px red;
  margin-top: 20px;
}

#lgn-form-username {
  height: 15px!important;
  width: 180px;
  float: right;
  color: black;
  //border: 1px solid red;
  border-left: none;
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  padding-top: 10px;
  padding-bottom:11px;
}

#pre{
  float: right;
  height: 36px;
  width: 36px;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
  background-image: url("http://imagizer.imageshack.us/a/img924/8562/peXvt7.png");
  background-size:15px;
  background-repeat: no-repeat;
  background-position: center;
}

.lp-group{
  display: inline-block;
  height: 50px;
  width: 220px;
  //border: solid 1px red;
  margin-left: -2px;
}

#lgn-form-password{
  height: 15px!important;
  width: 180px;
  color: black;
  //border: none;
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  border-left: none;
  float: right;
  padding-top: 10px;
  padding-bottom:11px;
}

#pre-p{
  float: right;
  height: 36px;
  width: 36px;
  color: white;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
  border-right: none;
  background-image: url("http://imagizer.imageshack.us/a/img921/9966/bCENp5.png");
  background-size:20px;
  background-repeat: no-repeat;
  background-position: center;
}

.lg-lgn{
  background-color: #00aeef;
  color: white;
  font-family: Roboto;
  padding: 12px;
  width: 130px;
  border-radius: 1px ;
  margin-top:10px ;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.lg-lgn:hover{
  background-color: #09c7ef;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.scancel{
  //border: solid red 1px;
  height: 50px;
  width: 40px;
  margin-top: -70px;
  margin-left: 250px;
  //z-index: 1;
  line-height: 55px;
  cursor: pointer;
}

h2{
  color: rgba(7, 8, 11, 0.76);
  font-family: "Roboto Condensed";
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 130%;
  margin-top: -25px;
}

#exp li{
  list-style: none;
  float: left;
  margin-left: -10px;
  font-family: "Roboto Condensed"

}

#f-option{
  margin-left: -10px;
  font-family: "Roboto Condensed"
}

label{
  margin-right: 10px;
}

#prefix{
  font-family: "Roboto Condensed";
  background-color: gray;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;

}

#custalias{
  width: 170px;
  margin-left: -4px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.history{
  position: absolute;
  height: 188px;
  width: 1200px;
  background: rgba(255,255,255,0.5);
  top: 70%;
  left: 19%;
  max-height: inherit;
  overflow-y: scroll;
}
.table-hover {
  //border-bottom: 1px solid red;
  width: 100%;
  color: rgba(7, 8, 11, 0.76);
  font-family: "Roboto Condensed";
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 130%;
  //table-layout: fixed;
  font-size: medium;

}

.colmns{
margin-bottom: 15px}
th{
  height: 30px;
}

li{
  color: rgba(7, 8, 11, 0.76);
}

td{
  color: rgba(7, 8, 11, 0.76);
  font-family: "Roboto Condensed";
  font-size: large;
  //border: 1px red solid;
  font-size: medium;
}

.logout-group{
  //height: 50px;
  //width: 300px;
  float: right;
  display: table;
  //border: solid 1px red;

}

.logout{
  //float: right;
  font-size: small;
  //border: solid 1px red;
}

#logout{
  //float: right;
  //width: 250px;
  height: 32px;
  display:table-cell;
  vertical-align:middle;
  text-align: right;
  font-family: Roboto;
  padding-right: 10px;
  //margin-left: 5px;
  color: black;
  font-weight: bold;
}

.lgo-btn{
  font-family: Roboto;
  display: table;
  vertical-align: middle;
  font-size: small;
  float: right;
  color: black;
  //border: solid 1px red;
  padding-top: 8px;
}

#lgo{
  display:table-cell;
  vertical-align:middle;
  //width: 150px;
  //height: 35px;
  text-align: right;
  cursor: pointer;
  //border: solid 1px red;
  color: black;
  float: right;

}

#lgo:hover{
  text-decoration: underline;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.fgt-group{
  position: absolute;
  top :60px;
  right:5px;
  z-index: 15;
  background: rgba(255,255,255,0.9);
  height: 200px ;
  width: 400px;
  -webkit-transition: fadein 1s;
  -moz-transition: fadein 1s;
  -o-transition: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s
}

#fgt-form-username {
  height: 15px;
  width: 200px;
  color: black;
  border: none;
  border: 1px solid gray;
  padding: 10px;
  margin-top: 5px;
}

#fgt-form-rst{
  height: 15px;
  width: 200px;

}

#fgt-mes{
  width: auto;
  height: 35px;
  //border: solid 1px red;
  color: #00aeef;
  font-family: "Roboto Condensed";
  margin-top: 20px;
}

.fg-pass{
  background-color: #00aeef;
  color: white;
  font-family: Roboto;
  padding: 12px;
  width: 120px;
  border-radius: 2px ;
  margin-top:20px ;
  margin-bottom: 15px;
  display: inline-block;
}

#fg-pass{
  font-size: small;
}

.message{
  display:none;
  //position:absolute;
}

h2:hover + .message{
  display:block !important;
  z-index:90;
}

#pre-s{
  //border: solid 1px gray;
  color: white;
  padding-left :39px;
  padding-top: 8px;
  padding-right: 2px;
  padding-bottom: 10px;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
  //margin-right: -1px;
  background-image: url("http://imagizer.imageshack.us/a/img921/9966/bCENp5.png");
  background-size:20px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

#pre-u{
  //border: solid 1px gray;
  color: white;
  padding-left :31px;
  padding-top: 8px;
  padding-right: 9px;
  padding-bottom: 10px;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
  //margin-right: -1px;
  background-image: url("http://imagizer.imageshack.us/a/img924/8562/peXvt7.png");
  background-size:15px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

#pag-btn-copy{
  float: left;
  cursor: pointer;
  margin-bottom: -1px;
}
